/*Style Reset*/
*{
    margin: 0;
    padding: 0;
}

/*Main Sections*/
section{
    margin-bottom: 2%;
}
section>h3{
    margin-top: 1.5%;
}
ul>li{
    font-size: 1.25em;
    list-style-type: none;
}


/*Font Sizes*/
h1, h2, h3{
    margin-bottom: 1%;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
p{
    font-size: 1.25em;
}

/*Header*/
.App-header{
    padding: 2% 0;
    height: 100%;
}

/*Main*/
.App{
    background-color: rgb(76, 184, 184);
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.App-main{
    margin: 0 5%;
}

/*Footer*/
#Footer{
    background-color: rgb(3, 112, 184);
    padding: 1.8% 0;
    color: rgb(214, 214, 214);
}
#Footer a{
    color: rgb(214, 214, 214);
    text-decoration: none;
}

/*Navigation*/
.App-nav{
    position: sticky !important;
    top: 0;
    background-color: rgb(3, 112, 184);
    padding: 10px 0;
    z-index: 1000;
}

#links{
    display:flex;
    justify-content: space-evenly;
}

nav a{
    display: block;
    color: rgb(214, 214, 214);
    text-decoration: none;
    padding: 14px 20px;
    font-size: 1.4em;
}

/*Images*/
img{
    border: 4px ridge black;
    margin-bottom: 1%;
}